:root {
  --color-primary: #1d9bf0;
  --color-secondary: #fff;
  --color-tertiary: #536471;
  --color-error: #f4212e;
  --color-bg: #fff;
  --color-text: #000;

  --breakpoint-mobile: 0px;
  --breakpoint-tablet: 500px;
  --breakpoint-desktop: 1000px;

  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

a {
  color: var(--color-primary);
}

textarea {
  font-family: "Roboto", sans-serif;
}
